body {
    background-image: url(img/background.jpg);
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body.backwithblur {
    background-image: url(img/backgroundblur.jpg);
    font-style: normal;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.table {
    color: #FFFFFF;
    margin-top: 15%;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-size: 36px;
    line-height: 17px;
}

.sum {
    color: #FFFFFF;
    line-height: 1.5;
    margin-left: 14%;
    font-weight: 400;
    font-size: 36px;
}

.descriptionAbout {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
}

nav {
    background-color: #f7f7f9;
    opacity: 0.7;
    width: 100%;
    height: 75px;
    vertical-align: center;
    font-weight: normal;
    font-size: 22px;
    line-height: 16px;
}

.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
}

.navbar-nav>li {
    display: table-cell;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    line-height: 16px;
}

.descriptionWelcome {
    margin: 280px 63px;
}

.descriptionWelcomeLine1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 17px;
    color: #FFFFFF;
}

.descriptionWelcomeLine2 {
    width: 579px;
    height: 131px;
    margin-top: 60px;
    font-weight: 200;
    font-size: 48px;
    line-height: 1.5;
    color: #dddddd;
}

.buttonMenu:hover {
    color: #FFFFFF;
}

.buttonMenu {
    width: 490px;
    height: 60px;
    margin-top: 50px;
    font-weight: normal;
    font-size: 36px;
    line-height: 21px;
    color: #FFFFFF;
    background: rgba(27, 72, 26, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    height: 100%;
    width: 530.92px;
    margin: 100px 55px;
    color: #FFFFFF;
}

.buttonOrder:hover {
    color: #FFFFFF;
}

.buttonOrder {
    width: 232px;
    height: 36px;
    color: #FFFFFF;
    background: rgba(27, 72, 26, 0.85);
    border: 1px solid rgba(27, 72, 26, 0.85);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.buttonMakeOrder:hover {
    color: #FFFFFF;
}

.buttonMakeOrder {
    position: absolute;
    width: 232px;
    height: 30px;
    left: 190px;
    color: #FFFFFF;
    background: rgba(27, 72, 26, 0.85);
    border: 1px solid rgba(27, 72, 26, 0.85);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.cardMenu {
    width: 320px;
    height: 412px;
    margin-top: 60px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textInLine {
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    color: #FFFFFF;
}

.textInLine span {
    display: inline-block;
    vertical-align: middle;
}

.textInLine:before,
.textInLine:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    position: relative;
}

.textInLine:before {
    margin-left: -100%;
    left: -14px;
}

.textInLine:after {
    margin-right: -100%;
    right: -14px;
}

.cardMenuPastaTop {
    position: absolute;
    width: 320px;
    height: 400px;
    top: 60px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.cardMenuPastaBottom {
    position: absolute;
    width: 320px;
    height: 400px;
    top: 470px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.card-text {
    width: 280px;
    height: 24px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCards:hover {
    color: #FFFFFF;
}

.buttonCards {
    position: absolute;
    left: 30px;
    top: 350px;
    width: 260px;
    height: 30px;
    background-color: #1b481a;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonMenuCards:hover {
    color: #FFFFFF;
}

.buttonMenuCards {
    margin-top: 50px;
    margin-left: 10px;
    width: 260px;
    height: 30px;
    background-color: #1b481a;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}